#hello {text-align: center;
font-size: 50px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: blue;
background-color: beige;
margin-bottom: 10px;
display: inline;}
#LOGO {height: 100PX;
width: 100PX;
border: 10PX;}
#SLOGAN { text-align: right;
margin-right: 100px;
font-size: 50px;}


#username {text-align: right;
margin-right: 200px;
font-size: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
display: inline-block;}

    

    button {text-align: right;
        margin-right: 200px;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}